body
{
    background-image: url("background-image.jpg");
    background-size: auto;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.page
{
    background-color: rgba(255, 255, 255, 0.85);
    box-shadow: 1vw 1vw 3vw 1vw rgba(0, 0, 0, 0.5);
    margin: auto;
    width: 55vw;
    margin-top: 10vw;
    margin-bottom: 10vw;
    padding-left: 2vw;
    padding-right: 2vw;
    padding-top: 5vw;
    padding-bottom: 5vw;
}

.rule
{
    background-color: black;
    width: 53vw;
    margin-left:1vw;
    margin-right:1vw;
}

.resume-section-title
{
    margin: 0px;
    padding-left: 1vw;
    height: 2vw;
}